#spotlightRenderer::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: var(--yt-spec-text-secondary);
}
#spotlightRenderer::-webkit-scrollbar {
    width: 16px;
}
#spotlightRenderer.overflow{
    width: 125%;
    transform: scale(0.8);
    transform-origin: left top;
    display: flex;
    flex-direction: row; 
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}
#spotlightRenderer.wrap{
    width: 133.33%;
    transform: scale(0.75);
    transform-origin: left top;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    overflow-x: visible;
    position: relative;
}
#spotlightWrapper {
    position: relative;
    padding-bottom: 25px;
}
.spotlightBtn {
    color: #FFF;
    position: absolute;
    font-size: 30px;
    top: 50px;
    padding: 25px 10px;
    background-color: #00000070;
}
#spotlightLeftBtn {
    left: 0;
}
#spotlightRightBtn {
    right: -1px;
}
#view-all.ytd-grid-renderer {
    margin: 0 !important;
}
