html{
    width: 365px;
    height: 490px;
}

body{
    background-color: #333;
    color: #FF0;
    font-size: 15px;
}

p{
    padding-left: 10px;
}

img{
    padding-bottom: 10px;
}

.wrapper{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 75px;
    height: 90px;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    color: #FF0;
    float: left;
    text-align: center;
    background-color: #888;
}
.style{
    width: 130px;
    height: 120px;
}

#overflow:checked ~ #loverflow{
    background-color: #B3362D;
}
#wrap:checked ~ #lwrap{
    background-color: #B3362D;
}

#live:checked ~ #llive{
    background-color: #B3362D;
}
#arch:checked ~ #larch{
    background-color: #B3362D;
}
#sche:checked ~ #lsche{
    background-color: #B3362D;
}

input{
    display: none;
}

#otherPage{
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

#refreshBtn{
    margin-top: 35px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0.5rem 1.4rem;
    color: #FF0;
    background-color: #eb6100;
    border-radius: 100vh;
}
